{% extends "AZnews/base.html" %}
{% load static %}
{% block content %}
  <!--================Blog Area =================-->
  <section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
            {% include "AZnews/main/detail/left/post_detail.html" %}
            {% include "AZnews/main/detail/left/post_nav.html" %}
            {% include "AZnews/main/detail/left/author.html" %}
            {% include "AZnews/main/detail/left/comment_list.html" %}
            {% include "AZnews/main/detail/left/comment_form.html" %}            
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
                {% include 'AZnews/main/list/right/search_form.html' %}
                {% include 'AZnews/main/list/right/categories.html' %}
                {% include 'AZnews/main/list/right/popular_posts.html' %}
                {% include 'AZnews/main/list/right/tags.html' %}
                {% include 'AZnews/main/list/right/newsletter.html' %}
            </div>
        </div>
       </div>
    </div>
 </section>
 <!--================ Blog Area end =================-->
{% endblock %}